* {
  box-sizing: border-box;
}

body {
 background-color: rgb(176, 241, 241);
}

.todo-app {
  width: 500px;
  margin: 80px auto;
  padding: 30px;
background-color: aliceblue;
border-radius: 20px;
box-shadow: 0 4px 16px cadetblue;
}

h1 {
text-align: center;
margin-top: 0;
}

.input-row {
  display: flex;
  gap: 6px;
  
}

.task-input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

.add-button {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  background-color: #333333;
  color: white;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.8;
}

.task-box ul {
  padding: 0;
  margin-top: 25px;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  border-radius: 6px;
}

.task-item h2 {
  flex: 1;
  margin: 0;
  font-size: 18px;
}


.delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #dddddd;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cccccc;
}

.done h2 {
  text-decoration: line-through;
  opacity: 0.5;
}